<div class="row">
  <div class="col-md-8">
    <h3>We are making progress. Tell us about your business.</h3>
    <form>

      <div class="form-group">
        <label for="location">Business Address</label>
        <input class="form-control" placeholder="421 South West" name="location">
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="New York" name="city">
      </div>

      <div class="row">
        <div class="col-md-6">
          <!--<div class="form-control">-->
          <select class="form-control">
            <option value="">Choose State</option>
          </select>
          <!--</div>-->
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" placeholder="ZIP Code">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Industry</label>
        <select class="form-control">
          <option value="">Select Industry</option>
        </select>
      </div>

      <div class="form-group">
        <label>Entity Type</label>
        <select class="form-control">
          <option value="">Choose an option</option>
        </select>
      </div>

      <div class="form-group">
        <label for="percent_ownership">Percentage Ownership</label>
        <input class="form-control" name="percent_ownership">
      </div>

      <div class="form-group">
        <label>Loan Purpose</label>
        <select class="form-control">
          <option value="">Select Options</option>
        </select>
      </div>

      <div class="form-group">
        <label for="tax_id">Federal/State Tax ID</label>
        <input class="form-control" placeholder="12-3456789" name="tax_id">
      </div>

      <div class="form-group">
        <label for="ssn">Social Security Number</label>
        <input class="form-control" name="ssn">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="button" ng-click="next('document')">CONTINUE</button>
        <button class="btn btn-default" type="reset" >Cancel</button>
      </div>

    </form>
  </div>
  <div class="col-md-4">
    <%- include progress.ejs%>
  </div>
</div>

