<div class="row">

  <div class="col-md-8">
    <h3>Lastly we need to you t upload your bank statements</h3>
    <form>
      <p>Your business bank statements help get a better
        idea of the overall health of your business.
      </p>
      <div class="form-group">
        <button class="btn  btn-primary" type="button" ng-click="next('submission')">SUBMIT FOR OFFERS</button>
        <button class="btn  btn-default" type="button">Back</button>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <%- include progress.ejs%>
  </div>

</div>

