<div class="step" style="margin-top:20px;">
  <label>Step {{step}} of 4</label>

    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-success" style="width: {{percent}}%"></div>
    </div>
</div>
