<div class="step" style="margin-top:20px;">
  <label>Step {{step}} of 4</label>
  <div class="progress">
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: {{percent}}%"></div>
    </div>
  </div>
</div>
