<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h3>Thanks for your submission</h3>
    </div>
  </div>
  <div class="col-md-4">
    <%-include progress_complete.ejs%>
  </div>
</div>
